.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 50px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.calculate-button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

p {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  color: black;
}
